MintqApp {
    background: $surface;
}

#chat-log {
    height: 1fr;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1 2 1;
}

/* Scrollbar */
#chat-log {
    scrollbar-color: #666666;
    scrollbar-color-hover: #3EB489;
    scrollbar-color-active: #3EB489;
    scrollbar-background: transparent;
    scrollbar-background-hover: transparent;
    scrollbar-background-active: transparent;
}

#input-row {
    dock: bottom;
    layout: horizontal;
    height: 3;
}

#input-bar {
    width: 1fr;
    height: 3;
    border: none;
    padding: 1 1;
    background: $surface;
}

#input-bar:focus {
    border: none;
    background: #2D2D2D;
}

#open-explorer-btn {
    width: auto;
    height: 3;
    margin: 0 1 0 1;
    padding: 0 3;
    border: none;
    background: $surface;
    color: $text;
    text-style: none;
    min-width: 0;
}

#open-explorer-btn:hover {
    background: #2D2D2D;
    background-tint: $foreground 5%;
}

#open-explorer-btn:focus {
    text-style: none;
    background: #2D2D2D;
}

#open-explorer-btn.-active {
    background: $surface;
    background-tint: $foreground 10%;
    text-style: none;
}
